.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid #FBD38D;
    border-radius: 1rem;
    position: relative;
    padding: 3px;
    cursor: pointer;
}
.toggle > * {
    width: 1.5rem;
    height: 1rem;
    color: #FBD38D;
}
.t-button {
    margin: 0 6px 0;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #FBD38D;
    position: absolute;
}